.signup__bg {
    background-image: url(https://img.freepik.com/free-vector/user-verification-unauthorized-access-prevention-private-account-authentication-cyber-security-people-entering-login-password-safety-measures_335657-3530.jpg?w=740&t=st=1698372946~exp=1698373546~hmac=aa3d5e657db8891d4166c93f36951b7718e2ed5ae61d50173784fb93f3beb80b);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.signup-profile-pic__container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.signup-profile-pic {
    width: 100px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: cover;
    height: 100px;
}

.add-picture-icon {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: green;
    background: white;
    cursor: pointer;
    z-index: 99;
}
